.LandingPage__header {
  padding: 45px 15px;
}

.heroimage {
  width: 100vw;
  height: 100vh;
  padding: 10px;
}

.screenshotpost {
  width: 100vw;
  height: 100vh;
  border: 2px solid rgb(39, 37, 37);
}
