.App {
  height: 100vh;
  padding-top: 20px;
  /* padding-bottom: 20px; */
  margin: 0 auto;
  color: #0fcbe0;
  background-color: black;
}

.App__header {
  padding-left: 20px;
  padding-right: 20px;
  height: 150px;
  background-color: #1a1818;
  justify-content: center;
  align-items: center;
}

.App__main {
  height: calc(100vh - 70px);
  overflow: auto;
  margin-top: 10px;
  padding-bottom: 40px;
}

@media screen and (min-width: 600px) {
  .App {
    /* height: 100vh; */
  }
}

@media screen and (min-width: 1000px) {
  .App {
    /* height: 100vh; */
  }
}
