.App {
  height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
  background-color: white;
}

.App__header {
  padding-left: 20px;
  padding-right: 20px;
  height: 150px;
  background-color: white;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 10px;
}

.App__main {
  margin-top: 150px;
  padding-bottom: 40px;
}

@media screen and (min-width: 600px) {
  .App {
    /* height: 100vh; */
  }
}

@media screen and (min-width: 1000px) {
  .App {
    /* height: 100vh; */
  }
}
